:root {
    --first-text-color: #434455;
    --second-text-color: #E7E9FC;
    --first-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --btn-color: #FFFFFF;
    --first-btn-active-color: #404BBF;
    --second-btn-background: #F4F4FD;
    --first-logo-color:#4D5AE5;
    --second-logo-color: #2E2F42;
    --active-color: #4D5AE5;
    --menu-color: #2E2F42;
    --menu-hover-color: #434455;
    --body-background: #FFFFFF;
    --hero-background: #2E2F42;
    --team-background-color: #F4F4FD;
    --card-background: #FFFFFF;
    --studio-footer-color: #F4F4FD;
    --slate-color: #434455;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--body-background);
    color: var(--slate-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* ------------- TOP-LINE ----------------*/
/* .first-page {} */

.top {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-logo-color);
}
.studio {
        color: var(--second-logo-color);
}
/* .navigation {}
/* .menu {}  */

.menu-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--menu-color);
}
.menu-item:hover,
.menu-item:focus {
color: var(--active-color);
}
.current {
    color: var(--active-color);
}
/* .contact {}
.contact-item {} */

.connection {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}
/* .mail {} */

.mail:hover,
.mail:focus {
  color: var(--active-color);  
}

.phone {
    font-weight: 400;
}
.phone:hover,
.phone:focus {
    color: var(--active-color);
}
/* --------------HERO------------- */
/* .hero {} */

.ground {
background-color: var(--hero-background);
}
.main-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.first-btn {
    line-height: 1.19;
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--btn-color);
}
.first-btn:hover,
.first-btn:focus {
    background-color: var(--first-btn-active-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
.first-btn:active {
    background-color: var(--first-btn-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* --------------------ADVANTAGES--------------------- */
/* .advantages {} */

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .adv-list {}

.adv-item {} */

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.adv-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}
/* ------------------ LIST OF DOING--------------------- */
/* .works {} */

.heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

/* ------------------OUR TEAM--------------------- */

.team {
    background-color: var(--team-background-color);
}

.team-card {
    background-color: var(--card-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.card-title {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}

/* .footer {} */

.logo-footer {
line-height: 1.33;
}
.studio-footer {
    color: var(--studio-footer-color);
}
.text-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
/*-------------- PAGE 2 PORTFOLIO ----------------- */
/* ----------------- TOP-LINE ----------------------*/
/* .second-page {}

.top {}

.logo {}

.link {}

.studio {}

.navigation {}

.menu {}

.list {}

.menu-item {}

.contact {}

.contact-item {}

.mail {}

.phone {} */

/* -------------------- BUTTONS -------------------- */

/* .visually-hidden {} */

.second-btn {
    line-height: 1.5;
    background-color: var(--second-btn-background);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--active-color);
}
.second-btn:hover,
.second-btn:focus {
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--btn-color);
    border-color: var(--active-color);
}
/* .gallery {} */
.gallery-img {
    background-color: var(--card-background);
    border: 0.5px solid #F4F4FD;
}
.gallery-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}


